{% from 'include/template-nunjucks.html' import arrSize, arrColor %}
{% include "include/head.html" %}
<h1 class="page__title">Form</h1>
{% for color in arrColor %}
<form class="form form--{{color}}">
    <h2 class="page__sub-title">{{color}}</h2>
    <div class="row form__field">
        <label class="form__label" for="id-number-{{color}}">Number</label>
        <input class="form__fill" id="id-number-{{color}}" type="number" value="0" aria-label="number" />
    </div>
    <div class="row form__field">
        <label class="form__label" for="id-color-{{color}}"></label>Color</label>
        <input class="form__fill" id="id-color-{{color}}" type="color" aria-label="color" />
    </div>
    <div class="row form__field">
        <label class="form__label" for="id-required-{{color}}">Text Required</label>
        <input class="form__fill" id="id-required-{{color}}" type="text" value="" required aria-label="text required" />
    </div>
    <div class="row">
        <div class="column form__field">
            <label class="form__label" for="id-cpf-{{color}}">Mask CPF</label>
            <input class="form__fill" id="id-cpf-{{color}}" type="text" value="" aria-label="cpf" data-mask="cpf"
                placeholder="000.000.00-00" />
        </div>
        <div class="column form__field">
            <label class="form__label" for="id-cnpj-{{color}}">Mask CNPJ</label>
            <input class="form__fill" id="id-cnpj-{{color}}" type="text" value="" aria-label="cnpj" data-mask="cnpj"
                placeholder="00.000.000/0000-00" />
        </div>
        <div class="column form__field">
            <label class="form__label" for="id-phone-{{color}}">Mask Phone</label>
            <input class="form__fill" id="id-phone-{{color}}" type="text" value="" aria-label="phone" data-mask="phone"
                placeholder="(00) 00000-0000" />
        </div>
    </div>
    <div class="row">
        <div class="column form__field">
            <label class="form__label" for="id-cep-{{color}}">Mask CEP</label>
            <input class="form__fill" id="id-cep-{{color}}" type="text" value="" aria-label="cep" data-mask="cep" placeholder="00000-000" />
        </div>
        <div class="column form__field">
            <label class="form__label" for="id-pis-{{color}}">Mask PIS</label>
            <input class="form__fill" id="id-pis-{{color}}" type="text" value="" aria-label="pis" data-mask="pis"
                placeholder="000.00000.00-0" />
        </div>
        <div class="column form__field">
            <label class="form__label" for="id-date-{{color}}">Date</label>
            <input class="form__fill" id="id-date-{{color}}" type="text" value="" aria-label="date" data-mask="date"
                placeholder="dd/mm/yyyy" />
        </div>
    </div>
    <div class="row form__field">
        <label class="form__label" for="id-select-{{color}}">Select</label>
        <select class="form__fill" id="id-select-{{color}}" aria-label="select">
            <option value="0">option 0</option>
            <option value="1">option 1</option>
            <option value="2">option 2</option>
            <option value="3">option 3</option>
            <option value="4">option 4</option>
        </select>
    </div>
    <div class="row">
        <div class="column">
            <h2 class="page__title">Radio</h2>
            <div class="row form__field">
                <div class="form__option">
                    <input id="id-radio-1-{{color}}" name="radio" type="radio" checked="checked">
                    <label for="id-radio-1-{{color}}">Checked</label>
                </div>
                <div class="form__option">
                    <input id="id-radio-2-{{color}}" name="radio" type="radio">
                    <label for="id-radio-2-{{color}}">Unchecked</label>
                </div>
                <div class="form__option">
                    <input id="id-radio-3-{{color}}" name="radio" type="radio" disabled>
                    <label for="id-radio-3-{{color}}">Disabled</label>
                </div>
            </div>
        </div>
        <div class="column">
            <h2 class="page__title">Checkbox</h2>
            <div class="row form__field">
                <div class="form__option">
                    <input id="id-checkbox-1-{{color}}" name="checkbox" type="checkbox" checked="checked">
                    <label for="id-checkbox-1-{{color}}" class="checkbox-label">Checked</label>
                </div>
                <div class="form__option">
                    <input id="id-checkbox-2-{{color}}" name="checkbox" type="checkbox">
                    <label for="id-checkbox-2-{{color}}" class="checkbox-label">Unchecked</label>
                </div>
                <div class="form__option">
                    <input id="id-checkbox-4-{{color}}" name="checkbox" type="checkbox" disabled="disabled"
                        checked="checked">
                    <label for="id-checkbox-4-{{color}}" class="checkbox-label">Disabled</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row form__field">
        <label class="form__label" for="id-email-{{color}}">E-mail</label>
        <input class="form__fill" id="id-email-{{color}}" type="email" value="" aria-label="e-mail" />
    </div>
    <div class="row">
        <div class="column form__field">
            <label for="id-textarea-{{color}}" class="form__label">Textarea</label>
            <textarea id="id-textarea-{{color}}" class="form__fill" aria-label="textarea"></textarea>
        </div>
        <div class="column form__field">
            <label for="id-multiple-{{color}}" class="form__label">Multiple</label>
            <select id="id-multiple-{{color}}" class="form__fill" multiple="" aria-label="multiple">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
    <div class="row form__field">
        <label for="id-text-{{color}}" class="form__label">Disabled</label>
        <input id="id-text-{{color}}" class="form__fill" type="text" value="disabled" disabled aria-label="text disabled" />
    </div>
    <div class="row form__field">
        <label for="id-file-{{color}}" class="form__label">File</label>
        <input id="id-file-{{color}}" class="form__fill" type="file">
    </div>
</form>
{% endfor %}
{% include "include/footer.html" %}