{% include "include/head.html" %}
<h1 class="page__title">Gallery</h1>
<div class="row gallery">
    <a href="assets/img/banner/1.png" class="gallery__item">
        <img src="assets/img/banner/1.png" class="img-responsive" title="" alt="Lorem ipsum"
            data-description="Lorem ipsum dolor sit dictuquam ullamcorperat." />
    </a>
    <a href="assets/img/banner/2.png" class="gallery__item">
        <img src="assets/img/banner/2.png" class="img-responsive" title="" alt="Dolor sit"
            data-description="Lorem ipsum dolor sit amet, consecttur adipscing elit. Proin ut ni diam. Nam ini pretium ligulas. Integersda dapibusa id quam non prium! Suspendisse sodalesa efficiturd nullsa, eta elementumds dui consequat eu. Curabituras interd augue, at dictuquam ullamcorperat." />
    </a>
    <a href="assets/img/banner/1.png" class="gallery__item">
        <img src="assets/img/banner/1.png" class="img-responsive" title="" alt="Consecttur adipscing" />
    </a>
</div>
{% include "include/footer.html" %}