{% from 'include/template-nunjucks.html' import arrSize, arrColor %}
{% include "include/head.html" %}
<h1 class="page__title">Lazy load</h1>
<div class="row">
    <img src="assets/img/banner/1.png" alt="banner">
    <img src="assets/img/banner/2.png" alt="banner">
</div>
{% for color in arrColor %}
<div class="row">
    <img src="#" data-src="assets/img/banner/1.png" alt="banner" data-lazy-load="true">
    <img src="#" data-src="assets/img/banner/2.png" alt="banner" data-lazy-load="true">
</div>
{% endfor %}
{% include "include/footer.html" %}