{% from 'include/template-nunjucks.html' import arrSize, arrColor %}
{% include "include/head.html" %}
<h1 class="page__title">Tag</h1>
{% for size in arrSize %}
<h2 class="page__sub-title tag--{{size}}">{{size}}</h2>
<div class="row tag-wrapper">
    {% for color in arrColor %}
    <div class="tag tag--{{color}} tag--{{size}}">
        <span class="tag__text">{{color}}</span>
        <button type="button"
            class="button button--{{size}} button--{{size}}--proportional button--transparent button__close"
            aria-label="close">
            <svg class="icon icon--{{size}} rotate-45">
                <use xlink:href="./assets/img/icon.svg#plus"></use>
            </svg>
        </button>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% include "include/footer.html" %}