{% include "include/head.html" %}
<h1 class="page__title">Text</h1>
<div class="row center">
    <h1>Text H1</h1>
</div>
<div class="row center">
    <h2>Text H2</h2>
</div>
<div class="row center">
    <h3>Text H3</h3>
</div>
<div class="row center">
    <h4>Text H4</h4>
</div>
<div class="row center">
    <h5>Text H5</h5>
</div>
<div class="row center">
    <h6>Text H6</h6>
</div>
<div class="row">
    <p>
        Lorem ipsum dolor sit amet, consecttur adipscing elit. In nibaa sapien, molestied necf vestibulum in,
        pellentesque purus? Intger est ipsum, vehicula lobortis nisl nec, imprdiet maximus odi... Morbi ornare samagna
        urna uvolutpat lorem varius quis. Duisd ut cursus ipsuma. Maeas sit amet lorem scelisque, finibus feis sit amet,
        congue risus. Nulla scelearisque sed ex loboartis pharetraa.
    </p>
    <p>
        <strong>
            strong -
            Mauris quis au vel ipsum posuere pellene a in elit. Donec pretra augue lacinia, vestibulum arcu at, congue
            erat. Morbi ornare samagna urna uvolutpat lorem varius quis. Cras elemem tincidunt phatra. Mauria tinciduntd
            justog eu augue imperdiet, pretium diam convallis. In nibaa sapien, molestied necf vestibulum in,
            pellentesque purus. Suspendisse sodalesa efficiturd nullsa, eta elementumds dui consequat eu. Integerd
            dictuma faucibus sem placerat.
        </strong>
    </p>
    <p>
        <small>
            small -
            Pellentesaque urna loremd, interdum a metus a, pular fermentum urna! Duisd ut cursus ipsuma. Suspendisse
            sodalesa efficiturd nullsa, eta elementumds dui consequat eu. Nullas temporac justo a eleifend. Nullas
            consectetur nunc eumauris euismod, sedcinia tortor iaculis. Lorem ipsum dolor sit amet, consecttur adipscing
            elit. Donec pretra augue lacinia, vestibulum arcu at, congue erat. Nunc sit amet quam ut nulla pulvinar
            placat at tinciunt nulla! Etiamas consectet elit et efficur feugiata.
        </small>
    </p>
</div>
{% include "include/footer.html" %}