$font-family: 'system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"',
sans-serif;

html,
body {
    background: repeating-linear-gradient(90deg, #bec3c7, #b0b6bb 2px, #bec3c7 4px, #b0b6bb 8px);
    color: $color-black;
    font-family: $font-family;
}

.grid {
    display: grid;
    grid-template: "content-dark"auto "content-light"auto;
    height: 100%;

    @include tablet-landscape {
        grid-template: "content-dark content-light"auto;
        padding: $big;
    }

    &__content-dark {
        background-color: $color-black;
        grid-area: content-dark;
        width: 100%;

        @include tablet-landscape {
            width: 300px;
        }

        .image {
            $size: 300px;

            @include tablet-landscape {
                $size: 240px;
            }

            border-radius: 50%;
            height: $size;
            margin: auto;
            max-width: 100%;
            width: $size;
        }

        .photo {
            .title {
                color: $color-yellow;
            }
        }

        .footnotes,
        .title,
        .subtitle {
            color: $color-black-light-6;
            width: 100%;
        }

        .title,
        .subtitle {
            text-align: center;
        }

        .title {
            font-size: $font-size-big - 2;
            font-weight: bold;
        }

        .subtitle {
            font-size: $font-size-regular;
            margin-top: -1rem;
        }

        .footnotes {
            font-size: $font-size-small;
            margin-top: 3rem;
        }
    }

    &__content-light {
        background-color: $color-white;
        grid-area: content-light;
    }

    &__content-dark,
    &__content-light {
        padding: $big;

        @include tablet-landscape {
            padding: $big + $regular;
        }
    }
}

.article {
    margin-bottom: $extra-big;

    &:last-child {
        margin-bottom: 0;
    }

    .title {
        background-color: $color-grey;
        color: $color-grey-dark-8;
        font-size: $font-size-extra-big;
        font-weight: 800;
        padding: $big;
    }

    p {
        @include tablet-landscape {
            padding: 0 $big;
        }
    }
}

.list {
    border-bottom: 1px dotted $color-grey-light-2;
    list-style: none;
    margin-bottom: $big;
    padding: 0 0 $big;

    @include tablet-landscape {
        padding: 0 $big $big;
    }

    &:last-child {
        border-bottom: 0;
    }

    li {
        line-height: 150%;
    }
}

.skill-wrapper {
    .title {
        margin-top: $extra-big;
    }

    .progress {
        background-color: $color-black-light-2;
        box-shadow: none;

        &__bar {
            transform-origin: top left;
            width: 100%;
        }

        &--green-light {
            .progress__bar {
                background-color: $color-green-light-6;
            }
        }
    }

    .skill {
        span {
            color: $color-black-light-10;
            margin: $regular 0;
        }
    }
}

.form,
.social {
    padding: 0;

    @include tablet-landscape {
        padding: 0 $big $big;
    }
}

.form {
    .form__fill {
        font-family: $font-family;
    }
}

.social {
    margin-top: $extra-big;
}

.button--white {
    border-color: $color-grey;
}

.tag__text {
    * {
        font-size: inherit;
    }
}