.scrollbar::-webkit-scrollbar {
    width: $regular;
}

@each $color in $arrColorScroll {
    .scrollbar--#{$color} {
        scrollbar-color: color-regular(#{$color}) color-extra-light(#{$color});

        &::-webkit-scrollbar {
            background-color: color-light(#{$color});
            width: 12px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: color-regular(#{$color});
        }
    }
}