.table {
    @extend %extend-border-default;
    position: relative;
    width: 100%;

    tr {
        background-color: $color-white;
    }

    td {
        border-bottom: 0;
        border-top: 0;
        padding: $regular;
        vertical-align: top;

        &:first-child {
            border-left: 0;
        }

        &:last-child {
            border-right: 0;
        }
    }

    thead {

        tr,
        th,
        td {
            font-weight: bold;
            text-align: center;
        }

        th,
        td {
            border-color: transparent;
            padding: $big;
        }
    }

    tbody {
        td {
            @extend %extend-border-default;
            border-bottom: 0;
            border-top: 0;
        }
    }

    &--minimum {
        width: 1px;
    }

    &--wrapper {
        max-height: 48px;
        overflow: auto;
        white-space: pre-line;
        width: 100%;
    }

    &--wrapper--auto {
        max-height: initial;
    }
}

.wrapper-table-responsive {
    display: grid;
    max-width: 100%;
    width: 100%;

    .table-responsive {
        max-width: 100%;
        overflow-x: auto;
    }
}

@each $color in $arrColorTable {
    .table--#{$color} {
        border-color: color-light(#{$color});

        thead {
            border-color: color-light(#{$color});

            td,
            th {
                background-color: color-light(#{$color});
                color: color-dark(#{$color});
            }
        }

        tbody {
            tr {
                &:nth-child(even) {
                    background-color: color-extra-light(#{$color});
                }

                td {
                    border-color: color-light(#{$color});
                }
            }
        }
    }
}