$spaceVertical: ($regular * 2 + $small);
$spaceHorizontal: ($regular + $small);

.tooltip {
    position: relative;

    &:after {
        border-radius: $border-radius-small;
        content: attr(data-tooltip);
        display: none;
        padding: $regular;
        pointer-events: none;
        position: absolute;
        text-align: center;
        transition: $transition;
        white-space: nowrap;
        z-index: 1;
    }

    &:hover {
        &:after {
            display: block;
        }
    }

    @each $color in $arrColorTooltip {
        &--#{$color} {
            &:after {
                background-color: color-regular(#{$color});
                color: color-regular-contrast(#{$color});
            }
        }
    }

    &--bottom,
    &--top {
        &:after {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &--left,
    &--right {
        &:after {
            top: 50%;
        }
    }

    &--bottom {
        &:after {
            bottom: -100%;
            margin-bottom: -$spaceVertical;
        }
    }

    &--left {
        &:after {
            margin-left: -100%;
            transform: translate(-100%, -50%);
        }
    }

    &--right {
        &:after {
            left: $spaceHorizontal;
            margin-left: 100%;
            transform: translate(0%, -50%);
        }
    }

    &--top {
        &:after {
            margin-top: -$spaceVertical;
            top: -100%;
        }
    }
}