<div class="row button-group center">
    <div class="drop-down">
        <a href="javascript:;" class="button button--regular button--grey">Button</a>
        <div class="drop-down__content">
            <a href="javascript:;" class="button button--regular button--white">Button</a>
            <a href="javascript:;" class="button button--regular button--white">Drop down</a>
            <a href="javascript:;" class="button button--regular button--white">Dolor sit amet</a>
            <a href="javascript:;" class="button button--regular button--white">Consecttur adipscing elit</a>
            <a href="javascript:;" class="button button--regular button--white">Lorem ipsum</a>
            <a href="javascript:;" class="button button--regular button--white">Dolor sit amet</a>
        </div>
    </div>
    <button type="button" class="button button--regular button--blue">Button</button>
    <button type="button" class="button button--regular button--blue">Button</button>
    <button type="button" class="button button--regular button--blue">Button</button>
    <div class="drop-down">
        <a href="javascript:;" class="button button--regular button--grey">Button</a>
        <div class="drop-down__content">
            <a href="javascript:;" class="button button--regular button--white">Button</a>
            <a href="javascript:;" class="button button--regular button--white">Drop down</a>
            <a href="javascript:;" class="button button--regular button--white">Dolor sit amet</a>
            <a href="javascript:;" class="button button--regular button--white">Consecttur adipscing elit</a>
            <a href="javascript:;" class="button button--regular button--white">Lorem ipsum</a>
            <a href="javascript:;" class="button button--regular button--white">Dolor sit amet</a>
        </div>
    </div>
    <div class="drop-down">
        <button type="button" class="button button--regular button--blue">Button</button>
        <div class="drop-down__content">
            <a href="javascript:;" class="button button--regular button--grey">Lorem ipsum</a>
            <a href="javascript:;" class="button button--regular button--green">Drop down</a>
            <a href="javascript:;" class="button button--regular button--grey">Dolor sit amet</a>
            <a href="javascript:;" class="button button--regular button--grey">Consecttur adipscing elit</a>
        </div>
    </div>
    <button type="button" class="button button--regular button--blue">Button</button>
</div>

{% for size in arrSize %}
<h2 class="page__sub-title">Pagination {{size}}</h2>
{% for color in arrColor %}
<nav class="row button-group center">
    <a href="javascript:;" class="button button--{{size}} button--{{color}}" aria-label="first page">
        <span class="icon" aria-hidden="true">&#10094;&#10094;</span>
    </a>
    <a href="javascript:;" class="button button--{{size}} button--{{color}}" aria-label="previous">
        <span class="icon" aria-hidden="true">&#10094;</span>
    </a>
    <a href="javascript:;" class="button button--{{size}} button--{{color}}">
        1
    </a>
    <a href="javascript:;" class="button button--{{size}} button--{{color}}">
        2
    </a>
    <a href="javascript:;" class="button button--{{size}} button--{{color}} button--{{color}}--active">
        3
    </a>
    <a href="javascript:;" class="button button--{{size}} button--{{color}}" aria-label="next">
        <span class="icon" aria-hidden="true">&#10095;</span>
    </a>
    <a href="javascript:;" class="button button--{{size}} button--{{color}}" aria-label="last page">
        <span class="icon" aria-hidden="true">&#10095;&#10095;</span>
    </a>
</nav>
{% endfor %}
{% endfor %}