<h2 class="title">Softwares</h2>
{% for item in softwares %}
<div class="skill row">
    <span>{{item.title}}</span>
    <div class="progress progress--small progress--{{item.color}}">
        <div class="progress__bar" data-width-current="0" data-width="{{item.size}}"></div>
    </div>
</div>
{% endfor %}

<h2 class="title">Desenvolvimento Web</h2>
{% for item in developments %}
<div class="skill row">
    <span>{{item.title}}</span>
    <div class="progress progress--small progress--{{item.color}}">
        <div class="progress__bar" data-width-current="0" data-width="{{item.size}}"></div>
    </div>
</div>
{% endfor %}

<h2 class="title">Inglês</h2>
{% for item in english %}
<div class="skill row">
    <span>{{item.title}}</span>
    <div class="progress progress--small progress--{{item.color}}">
        <div class="progress__bar" data-width-current="0" data-width="{{item.size}}"></div>
    </div>
</div>
{% endfor %}

<p class="footnotes">ps.: Habilidades mensuradas em anos de experiência</p>