<h2 class="title">Softwares</h2>
{% set arr = [
    {
        title: 'Photoshop',
        color: 'blue',
        size: '100'
    },
    {
        title: 'Illustrator',
        color: 'blue',
        size: '70'
    },
    {
        title: 'Corel Draw',
        color: 'blue',
        size: '100'
    }
] %}
{% for item in arr %}
<div class="skill row">
    <span>{{item.title}}</span>
    <div class="progress progress--small progress--{{item.color}}">
        <div class="progress__bar" style="width:{{item.size}}%"></div>
    </div>
</div>
{% endfor %}


<h2 class="title">Desenvolvimento web</h2>
{% set arr = [
    {
        title: 'HTML',
        color: 'green',
        size: '100'
    },
    {
        title: 'SEO',
        color: 'red',
        size: '70'
    },
    {
        title: 'Nunjucks',
        color: 'red',
        size: '70'
    },
    {
        title: 'Pug',
        color: 'red',
        size: '30'
    },
    {
        title: 'UX / UI',
        color: 'red',
        size: '70'
    },
    {
        title: 'CSS / SASS / SCSS / Stylus',
        color: 'green',
        size: '100'
    },
    {
        title: 'Bootstrap',
        color: 'red',
        size: '70'
    },
    {
        title: 'Javascript',
        color: 'green',
        size: '100'
    },
    {
        title: 'JQuery',
        color: 'red',
        size: '100'
    },
    {
        title: 'Angular',
        color: 'red',
        size: '10'
    },
    {
        title: 'Vue',
        color: 'red',
        size: '10'
    },
    {
        title: 'React',
        color: 'red',
        size: '30'
    },
    {
        title: 'Typescript',
        color: 'red',
        size: '10'
    },
    {
        title: 'Gulp / Grunt',
        color: 'red',
        size: '70'
    },
    {
        title: 'PHP',
        color: 'green',
        size: '80'
    },
    {
        title: 'SQL',
        color: 'green',
        size: '50'
    },
    {
        title: 'Python',
        color: 'green',
        size: '10'
    },
    {
        title: 'JSP',
        color: 'green',
        size: '10'
    }
] %}
{% for item in arr %}
<div class="skill row">
    <span>{{item.title}}</span>
    <div class="progress progress--small progress--{{item.color}}">
        <div class="progress__bar" style="width:{{item.size}}%"></div>
    </div>
</div>
{% endfor %}


<h2 class="title">Inglês</h2>
{% set arr = [
    {
        title: 'Leitura / Escrita',
        color: 'yellow',
        size: '60'
    },
    {
        title: 'Conversação',
        color: 'yellow',
        size: '40'
    }
] %}
{% for item in arr %}
<div class="skill row">
    <span>{{item.title}}</span>
    <div class="progress progress--small progress--{{item.color}}">
        <div class="progress__bar" style="width:{{item.size}}%"></div>
    </div>
</div>
{% endfor %}
<p class="footnotes">ps.: Habilidades mensuradas em anos de experiência</p>